{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules":{
    "prettier/prettier": [1, { "trailingComma": "es5", "singleQuote": true }],
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": [1, { "skipShapeProps": true }],
    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }]
  }
}